.html {
    --color-orange-primary: #f26522;
    --color-bule-primary: #00467f;
    --color-white: #fff;
    --color-yellow: #ffc83a;
    --color-black: #4e4e4e;
    --color-gray: #f1f1f1;
    --color-gray-2: #c4c4c4;
    --color-gray-3: #ececec;
    --color-gray-black: #b0b0b0;
    --color-717171: #717171;
    --color-C8C8C8: #c8c8c8;
    --color-green: #7bbb81;
    --color-60ae7d: #60ae7d;
    --color-blue-black: #4b4b4b;
    --color-bule: #006ed5;
    --color-e4132c: #e4132c;
    --color-ff967a: #ff967a;
    --color-f2f2f2: #f2f2f2;
    --color-eeb111: #eeb111;
    --color-fafafa: #fafafa
}

:root {
    --main-font: IBM Plex Sans,sans-serif;
    --second-font: Helvetica Neue,Helvetica,Arial,sans-serif;
    --xs-font: 10px;
    --sm-font: 12px;
    --md-font: 14px;
    --lg-font: 16px;
    --xl-font: 22px;
    --xxl-font: 26px;
    --xxxl-font: 32px;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --primary-color: #006cff;
    --primary-color-faded: rgba(0,108,255,0.3607843137254902);
    --magenta: #f0f;
    --red: red;
    --faded-red: rgba(208,2,27,0.10196078431372549);
    --dt-bg-team: #1d1f22;
    --border-color: rgba(0,0,0,0.0784313725490196);
    --lighten-black: grey;
    --lighten-grey: #858585;
    --light-grey: #ebebeb;
    --grey: grey;
    --dark-grey: #343434;
    --green: #28ca42;
    --faded-green: rgba(2,208,2,0.10196078431372549);
    --white5: hsla(0,0%,100%,0.050980392156862744);
    --white10: hsla(0,0%,100%,0.10196078431372549);
    --white20: hsla(0,0%,100%,0.2);
    --white30: hsla(0,0%,100%,0.30196078431372547);
    --white40: hsla(0,0%,100%,0.4);
    --white50: hsla(0,0%,100%,0.5019607843137255);
    --white60: hsla(0,0%,100%,0.6);
    --white70: hsla(0,0%,100%,0.7019607843137254);
    --white80: hsla(0,0%,100%,0.8);
    --white90: hsla(0,0%,100%,0.9019607843137255);
    --white95: hsla(0,0%,100%,0.9490196078431372);
    --black5: rgba(0,0,0,0.050980392156862744);
    --black10: rgba(0,0,0,0.10196078431372549);
    --black20: rgba(0,0,0,0.2);
    --black30: rgba(0,0,0,0.30196078431372547);
    --black40: rgba(0,0,0,0.4);
    --black50: rgba(0,0,0,0.5019607843137255);
    --black60: rgba(0,0,0,0.6);
    --black70: rgba(0,0,0,0.7019607843137254);
    --black80: rgba(0,0,0,0.8);
    --black90: rgba(0,0,0,0.9019607843137255);
    --black95: rgba(0,0,0,0.9490196078431372);
    --border-radius: 16px;
    --border-radius-sm: calc(var(--border-radius)/4);
    --border-radius-md: calc(var(--border-radius)/2);
    --border-radius-round: 999px;
    --spacing-unit: 8px;
    --xxs-p: calc(var(--spacing-unit)/2);
    --xs-p: var(--spacing-unit);
    --sm-p: calc(var(--spacing-unit)*2);
    --md-p: calc(var(--spacing-unit)*3);
    --lg-p: calc(var(--spacing-unit)*4);
    --xl-p: calc(var(--spacing-unit)*5);
    --xxl-p: calc(var(--spacing-unit)*8);
    --xxs-m: calc(var(--spacing-unit)/2);
    --xs-m: var(--spacing-unit);
    --sm-m: calc(var(--spacing-unit)*2);
    --md-m: calc(var(--spacing-unit)*3);
    --lg-m: calc(var(--spacing-unit)*4);
    --xl-m: calc(var(--spacing-unit)*5);
    --xxl-m: calc(var(--spacing-unit)*8);
    --assetsPath: "../assets";
    --accent_blue: #005fff;
    --accent_green: #20e070;
    --accent_red: #ff3742;
    --bg-gradient-end: #f7f7f7;
    --bg-gradient-start: #fcfcfc;
    --black: #000;
    --blue-alice: #e9f2ff;
    --border: rgba(0,0,0,0.0784313725490196);
    --button-background: #fff;
    --button-text: #005fff;
    --grey: #7a7a7a;
    --grey-gainsboro: #dbdbdb;
    --grey-whisper: #ecebeb;
    --highlight: #fbf4dd;
    --modal-shadow: rgba(0,0,0,0.6);
    --overlay: rgba(0,0,0,0.2);
    --overlay-dark: rgba(0,0,0,0.6);
    --shadow-icon: rgba(0,0,0,0.25098039215686274);
    --targetedMessageBackground: #fbf4dd;
    --transparent: transparent;
    --white: #fff;
    --white-smoke: #f2f2f2;
    --white-snow: #fcfcfc
}