html {
    --color-orange-primary: #f26522;
    --color-bule-primary: #00467f;
    --color-white: #fff;
    --color-yellow: #ffc83a;
    --color-black: #4e4e4e;
    --color-gray: #f1f1f1;
    --color-gray-2: #c4c4c4;
    --color-gray-3: #ececec;
    --color-gray-black: #b0b0b0;
    --color-717171: #717171;
    --color-C8C8C8: #c8c8c8;
    --color-green: #7bbb81;
    --color-60ae7d: #60ae7d;
    --color-blue-black: #4b4b4b;
    --color-bule: #006ed5;
    --color-e4132c: #e4132c;
    --color-ff967a: #ff967a;
    --color-f2f2f2: #f2f2f2;
    --color-eeb111: #eeb111;
    --color-fafafa: #fafafa
}
